@model MvcPublicacoes.Models.Publicacao

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Publicação</h2>

<fieldset>
    <legend>Publicacao</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.DtPublicacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DtPublicacao)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Autor.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Autor.Nome)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.TipoPublicacao.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoPublicacao.Descricao)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Instituicao.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Instituicao.Nome)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Situacao.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Situacao.Descricao)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Referencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Referencia)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Resumo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Resumo)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Conceito)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Conceito)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.IdPublicacao }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
