@model IEnumerable<MvcPublicacoes.Models.QtdPublicacoesLocal>

@{
    ViewBag.Title = "Mapa";
}

<hgroup class="title">
    <h1>Distribuição de Publicações por Localidade</h1>
</hgroup>

<section id="Map">

    <label>Clique no círculo para visualizar os detalhes</label>

    <p></p>
    <style type="text/css">
        #map-canvas {
            height: 600px;
        }
    </style>

    <script type="text/javascript" src="http://www.google.com/jsapi?autoload={'modules':[{name:'maps',version:3,other_params:''}]}"></script>
    <script type="text/javascript">

        var pubmap = {};
        var pubCircle;
        var pubMark;
        var i = 0;

        function addPublicacao(lat, lng, qtd, localiz) {
            pubmap[i] = {
                position: new google.maps.LatLng(parseFloat(lat.replace(",",".")), parseFloat(lng.replace(",","."))),
                publicacoes: qtd * 10000,
                infowindowtexto: '<div id="bodyContent">' +
                                 '<b>Quantidade de publicações: </b>' + qtd +
                                 '</br><b>Localidade: </b>' + localiz 
            };
            i++;
        }

        @foreach (MvcPublicacoes.Models.QtdPublicacoesLocal item in Model)
        {
            @:addPublicacao('@item.Latitude', '@item.Longitude', '@item.quantidade', '@item.Localizacao');
        }

        function init() {

            var mapOpts = {    
                center: new google.maps.LatLng(-27, -49),
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var mapDiv = document.getElementById('map-canvas');
            var map = new google.maps.Map(mapDiv, mapOpts);

            for (var pub in pubmap) {

                //Popula os círculos no mapa
                var circleOpts = {
                    infowindowtexto: pubmap[pub].infowindowtexto,
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: pubmap[pub].position,
                    radius: Math.sqrt(pubmap[pub].publicacoes) * 100
                };
                pubCircle = new google.maps.Circle(circleOpts);

                ////Popula as marcas no mapa
                //var markOpts = {
                //    position: pubmap[pub].position,
                //    map: map,
                //    title: 'Hello World!'
                //};
                //pubMark = new google.maps.Marker(markOpts);

                //Adiciona o evento de click no círculo e mostra uma janela de informação
                google.maps.event.addListener(pubCircle, 'click', function () {
                    var infowindow = new google.maps.InfoWindow({
                        content: this.infowindowtexto
                    });
                    infowindow.setPosition(this.center);
                    infowindow.open(map);
                });
            }
        }
        google.maps.event.addDomListener(window, 'load', init);

    </script>

    <div id="map-canvas"></div>

</section>

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>

